<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916437613429-dmivksj4koi57ed9f21485rajhaihq8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916437613429-dmivksj4koi57ed9f21485rajhaihq8e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916437613429-s0s22cta13f4h7c2360qc5fcv1mkpsr6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMAupottV0yIIKowv5e1p8ihwK1-UPXEc</string>
	<key>GCM_SENDER_ID</key>
	<string>916437613429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthTracker</string>
	<key>PROJECT_ID</key>
	<string>stock-plate</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-plate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916437613429:ios:aa096f0ba71604644ef13c</string>
</dict>
</plist>